<h1>Favourites</h1>
<div class="container">
    <div class="row">
        <div class="col-4 mb-3">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <img src="https://picsum.photos/200/200?random=1" height="300" />

                <div class="card-body">
                    <h4 class="card-title">Card Title</h4>
                    <p class="card-text">Card Description</p>
                    <a class="btn btn-primary text-light" asp-area="" asp-controller="Cards" asp-action="Index">Подробнее</a>
                    <a class="btn btn-success text-light" asp-area="" asp-controller="" asp-action="">Убрать</a>
                </div>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <img src="https://picsum.photos/200/200?random=2" height="300" />

                <div class="card-body">
                    <h4 class="card-title">Card Title</h4>
                    <p class="card-text">Card Description</p>
                    <a class="btn btn-primary text-light" asp-area="" asp-controller="Cards" asp-action="Index">Подробнее</a>
                    <a class="btn btn-success text-light" asp-area="" asp-controller="" asp-action="">Убрать</a>
                </div>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <img src="https://picsum.photos/200/200?random=3" height="300" />

                <div class="card-body">
                    <h4 class="card-title">Card Title</h4>
                    <p class="card-text">Card Description</p>
                    <a class="btn btn-primary text-light" asp-area="" asp-controller="Cards" asp-action="Index">Подробнее</a>
                    <a class="btn btn-success text-light" asp-area="" asp-controller="" asp-action="">Убрать</a>
                </div>
            </div>
        </div>
    </div>
</div>
