@model PresentForFriend.Models.Present

@{
    ViewData["Title"] = "More";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>More</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(e => e.Id)
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input readonly asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input readonly asp-for="Description" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input readonly asp-for="Link" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
            </div>
            <div class="form-group">
                <img src="@("~/image/" + Model.ImageName)" asp-append-version="true" width="200px" height="200px" />
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input readonly asp-for="Price" class="form-control" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>
</div>
