
<div class="container">
    <h1>Add presdent</h1>
    <div class="row">
        <div class="col-4 mb-1">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <img src="https://picsum.photos/200/200?random=1" alt="Card image cap">
                <a class="btn btn-success text-light" asp-area="" asp-controller="" asp-action="">Изменить</a>
            </div>
        </div>
        <div class="col-4 mb-1">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <img src="https://picsum.photos/200/200?random=2" alt="Card image cap">
                <a class="btn btn-success text-light" asp-area="" asp-controller="" asp-action="">Изменить</a>
            </div>
        </div>
        <div class="col-4 mb-1">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <img src="https://picsum.photos/200/200?random=3" alt="Card image cap">
                <a class="btn btn-success text-light" asp-area="" asp-controller="" asp-action="">Изменить</a>
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Название</span>
            </div>
            <input type="text" class="form-control" aria-label="Название" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Краткое описание</span>
            </div>
            <input type="text" class="form-control" aria-label="Краткое описание" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Полное описание</span>
            </div>
            <textarea class="form-control" aria-label="Полное описание"></textarea>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Ссылка для покупки</span>
            </div>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>

        <a class="btn btn-success text-light" asp-area="" asp-controller="" asp-action="">Добавить</a>
    </div>
</div>





